BookmarkSharp/BookmarkSharpClient/Web References/servBookmarkSharp/BookmarkSharp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BookmarkSharp</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="LastUpdateGet">
        <s:complexType />
      </s:element>
      <s:element name="LastUpdateGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LastUpdateGetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBookMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bk" type="tns:Bookmark" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Bookmark">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="intBookmarkID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="strURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="intParentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="blnIsFolder" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddBookMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBookMarkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookMarks">
        <s:complexType />
      </s:element>
      <s:element name="GetBookMarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookMarksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTags">
        <s:complexType />
      </s:element>
      <s:element name="GetTagsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTagsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportDataTableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LastUpdateGetSoapIn">
    <wsdl:part name="parameters" element="tns:LastUpdateGet" />
  </wsdl:message>
  <wsdl:message name="LastUpdateGetSoapOut">
    <wsdl:part name="parameters" element="tns:LastUpdateGetResponse" />
  </wsdl:message>
  <wsdl:message name="AddBookMarkSoapIn">
    <wsdl:part name="parameters" element="tns:AddBookMark" />
  </wsdl:message>
  <wsdl:message name="AddBookMarkSoapOut">
    <wsdl:part name="parameters" element="tns:AddBookMarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookMarksSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookMarks" />
  </wsdl:message>
  <wsdl:message name="GetBookMarksSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookMarksResponse" />
  </wsdl:message>
  <wsdl:message name="GetTagsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="GetTagsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="ImportDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:ImportDataTable" />
  </wsdl:message>
  <wsdl:message name="ImportDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:ImportDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut" />
  <wsdl:message name="LastUpdateGetHttpGetIn" />
  <wsdl:message name="LastUpdateGetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetBookMarksHttpGetIn" />
  <wsdl:message name="GetBookMarksHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTagsHttpGetIn" />
  <wsdl:message name="GetTagsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut" />
  <wsdl:message name="LastUpdateGetHttpPostIn" />
  <wsdl:message name="LastUpdateGetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetBookMarksHttpPostIn" />
  <wsdl:message name="GetBookMarksHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetTagsHttpPostIn" />
  <wsdl:message name="GetTagsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="BookmarkSharpSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <wsdl:input message="tns:LastUpdateGetSoapIn" />
      <wsdl:output message="tns:LastUpdateGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBookMark">
      <wsdl:input message="tns:AddBookMarkSoapIn" />
      <wsdl:output message="tns:AddBookMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <wsdl:input message="tns:GetBookMarksSoapIn" />
      <wsdl:output message="tns:GetBookMarksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:input message="tns:GetTagsSoapIn" />
      <wsdl:output message="tns:GetTagsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportDataTable">
      <wsdl:input message="tns:ImportDataTableSoapIn" />
      <wsdl:output message="tns:ImportDataTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookmarkSharpHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <wsdl:input message="tns:LastUpdateGetHttpGetIn" />
      <wsdl:output message="tns:LastUpdateGetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <wsdl:input message="tns:GetBookMarksHttpGetIn" />
      <wsdl:output message="tns:GetBookMarksHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:input message="tns:GetTagsHttpGetIn" />
      <wsdl:output message="tns:GetTagsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookmarkSharpHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <wsdl:input message="tns:LastUpdateGetHttpPostIn" />
      <wsdl:output message="tns:LastUpdateGetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <wsdl:input message="tns:GetBookMarksHttpPostIn" />
      <wsdl:output message="tns:GetBookMarksHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:input message="tns:GetTagsHttpPostIn" />
      <wsdl:output message="tns:GetTagsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookmarkSharpSoap" type="tns:BookmarkSharpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <soap:operation soapAction="http://tempuri.org/LastUpdateGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBookMark">
      <soap:operation soapAction="http://tempuri.org/AddBookMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <soap:operation soapAction="http://tempuri.org/GetBookMarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap:operation soapAction="http://tempuri.org/GetTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportDataTable">
      <soap:operation soapAction="http://tempuri.org/ImportDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookmarkSharpSoap12" type="tns:BookmarkSharpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <soap12:operation soapAction="http://tempuri.org/LastUpdateGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBookMark">
      <soap12:operation soapAction="http://tempuri.org/AddBookMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <soap12:operation soapAction="http://tempuri.org/GetBookMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap12:operation soapAction="http://tempuri.org/GetTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportDataTable">
      <soap12:operation soapAction="http://tempuri.org/ImportDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookmarkSharpHttpGet" type="tns:BookmarkSharpHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <http:operation location="/LastUpdateGet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <http:operation location="/GetBookMarks" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <http:operation location="/GetTags" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookmarkSharpHttpPost" type="tns:BookmarkSharpHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="LastUpdateGet">
      <http:operation location="/LastUpdateGet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookMarks">
      <http:operation location="/GetBookMarks" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <http:operation location="/GetTags" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookmarkSharp">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BookmarkSharp</wsdl:documentation>
    <wsdl:port name="BookmarkSharpSoap" binding="tns:BookmarkSharpSoap">
      <soap:address location="http://www.brdstudio.net/BookmarkSharp/BookmarkSharp.asmx" />
    </wsdl:port>
    <wsdl:port name="BookmarkSharpSoap12" binding="tns:BookmarkSharpSoap12">
      <soap12:address location="http://www.brdstudio.net/BookmarkSharp/BookmarkSharp.asmx" />
    </wsdl:port>
    <wsdl:port name="BookmarkSharpHttpGet" binding="tns:BookmarkSharpHttpGet">
      <http:address location="http://www.brdstudio.net/BookmarkSharp/BookmarkSharp.asmx" />
    </wsdl:port>
    <wsdl:port name="BookmarkSharpHttpPost" binding="tns:BookmarkSharpHttpPost">
      <http:address location="http://www.brdstudio.net/BookmarkSharp/BookmarkSharp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>